.form-title {
  color: var(--color-heading-font);
  font-weight: 400;
  font-size: 1.1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

form label,
form legend {
  text-align: left;
  font-size: 0.7rem;
  font-weight: 800;
}

.required::after {
  content: '*';
}

.formfield {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.submit-button {
  margin-top: 0.5rem;
}
