/* New stuff! */

fieldset {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
}

fieldset:disabled button {
  filter: brightness(85%);
}

/* With white background the disabled state would be identical to enabled */
fieldset:disabled button:not(.radio-button-container-selected) {
  background-color: rgba(0, 0, 0, 0.1);
}

legend {
  margin-bottom: var(--margin-label);

  /* Was difficult to position the legend, followed this trick:
   https://stackoverflow.com/questions/5818960/why-wont-my-legend-element-display-inline */
  float: left;
}

.radio-buttons-parent {
  display: grid;
  /* Placeholder, should be dynamically set from JS */
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  align-items: stretch;
  min-height: var(--height-input);
}

.radio-buttons-parent:focus-within {
  outline: 5px auto var(--color-outline-fallback);
  outline: 5px auto -webkit-focus-ring-color;
}
