.selfie-preview {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0 0;
  height: 20rem;
  border: 2px dashed var(--color-border-light);
  border-bottom: none;
  justify-content: center;
  align-items: center;
  border-top-left-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  transition: background-color 0.4s linear;
}

.selfie-preview img {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.selfie-preview button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color-danger);
  border-bottom-left-radius: var(--rounded);
  border-top-right-radius: var(--rounded);
  color: var(--color-white);
  width: 3rem;
  height: 3rem;
  box-shadow: var(--shadow);
  transition: all 0.2s;
}

.close-button:focus,
.close-button:hover {
  filter: brightness(1.1);
  font-size: 120%;
}

input:focus + .selfie-label .selfie-visible-input {
  outline: 5px auto var(--color-outline-fallback);
  outline: 5px auto -webkit-focus-ring-color;
}

input:disabled + .selfie-label .selfie-visible-input {
  cursor: not-allowed;
  filter: var(--filter-disabled);
  background-color: rgba(0, 0, 0, 0.1);
}
