:root {
  /* Ilmoittautuminen */
  --color-heading-font: #4c4c4c;
  --color-text: #4b4b4b;
  /* Nimi, kasvokuva */
  --color-border-light: #a9a9a9;
  --color-border-medium: #9b9b9b;
  --color-border-dark: #4a4a4a;
  --color-primary: #008755;
  --color-white: #fff;
  --max-width: 600px;
  --border-width: 3px;
  --rounded: 5px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--color-text);
}

/* Some resets */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: var(--rounded);
  border: var(--border-width) solid var(--color-black);
  padding: 0.5rem;
}

.submit-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: 0.5rem 3rem;
}

/* Should I have a different files for such utility classes? */

.align-left {
  align-self: flex-start;
}
